.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: #ffffff;
  align-self: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ff0000;
}

